<div class="strategy-wrapper">
  <app-navigation-button [isNext]="false"
    [destPath]="APP_ROUTE.STRATEGY + '/' + STRATEGY_ROUTE.SUSTAINABILITY_CPF"></app-navigation-button>

  <app-navigation-button [destPath]="
      APP_ROUTE.STRATEGY + '/' + STRATEGY_ROUTE.SUSTAINABILITY_REGCONIGTION
    "></app-navigation-button>

  <app-home-button></app-home-button>

  <div class="strategy-content">
    <header class="strategy-header">
      <h1 class="strategy-title">
        {{ 'STRATEGY.SUSTAINABILITY_STRATEGY.TITLE' | translate }}
      </h1>
      <p class="strategy-summary">
        {{ 'STRATEGY.SUSTAINABILITY_STRATEGY.SUMMARY' | translate }}
      </p>
    </header>

    <div class="strategy-figure">
      <img class="strategy-figure__image" [src]="'STRATEGY.SUSTAINABILITY_STRATEGY.FRAMEWORK_IMAGE' | translate"
        [attr.alt]="'STRATEGY.SUSTAINABILITY_STRATEGY.IMAGE_ALT' | translate" />
    </div>

    <button class="button__secondary strategy-vdo-link" type="button" (click)="onNavigateVdo()">
      {{ 'STRATEGY.SUSTAINABILITY_STRATEGY.CTA' | translate }}
    </button>
  </div>
</div>
