<div 
  class="slideshow-container"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd($event)"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="onMouseLeave($event)"
>
  <!-- Main Slideshow Display -->
  <div class="slideshow-content">
    <div class="slide-track" #slideTrack>
      <img 
        *ngFor="let img of images"
        [src]="img" 
        [alt]="'Slide'"
        class="slideshow-image"
        draggable="false"
      />
    </div>
  </div>

  <!-- Indicators/Dots -->
  <div class="slideshow-indicators" *ngIf="hasNextSlide()">
    <span 
      *ngFor="let img of originalImages; let i = index"
      class="indicator-dot"
      [class.active]="i === getActualIndex()"
      (click)="goToSlide(i)"
      role="button"
      tabindex="0"
      [attr.aria-label]="'Go to slide ' + (i + 1)"
    ></span>
  </div>
</div>

