@mixin button {
  width: 240px;
  height: 52px;
  font-weight: 700;
  border-radius: 999px;
  font-size: 1rem;
  padding: 4px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

@mixin button-hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@mixin button-active {
  transform: translateY(0);
}

.button__primary {
  @include button;
  background: $primary-color;
  color: white;
}

.button__primary:hover {
  @include button-hover();
  background: $primary-color-hover;
}

.button__primary:active {
  @include button-active();
}

.button__secondary {
  @include button;
  border: 1px solid $primary-color;
  color: $primary-color;
  background: white;
}

.button__secondary:hover {
  @include button-hover();
}

.button__secondary:active {
  @include button-active();
}
