:host {
  > div {
    min-height: 100vh;
    background:
      linear-gradient(rgba(0, 34, 78, 0.2), rgba(0, 34, 78, 0.2)),
      url("../../../assets/images/background.png") center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .button-container {
    display: flex;
    gap: 56px;

    .button__primary {
      width: 280px;
      min-height: 56px;
    }
  }
}
