<div class="feature-wrapper">
  <button class="button__primary home-button" (click)="onNavigateDashboard()">
    Home
  </button>

  <div class="feature-content">
    <p>Our Sustainability Strategy</p>

    <div style="display: flex; gap: 32px">
      <button class="button__primary" (click)="nextSlide()">Next Slide</button>
      <button class="button__primary" (click)="previousSlide()">
        Previous Slide
      </button>
      <a
        class="button__secondary"
        href="https://www.cpvietnam.com.vn/"
        target="_blank"
        >Click here to watch VDO</a
      >
    </div>
  </div>
</div>
