:host {
  .business-wrapper {
    background:
      linear-gradient(rgba(0, 34, 78, 0.2), rgba(0, 34, 78, 0.2)),
      url("../../../../../assets/images/sustainable-development.png") center /
        cover no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .business-content {
    width: 100%;
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
  }
}
