:host {
  .page {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f4f6ed;

    .menu-container {
      width: 100%;
      padding-top: 36px;
      padding-bottom: 36px;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      justify-content: center;
      gap: 80px;

      .button__primary {
        border-radius: 14px;
        height: 56px;
      }

      .button__secondary {
        border: none;
        height: 56px;
        color: rgba(0, 0, 0, 0.5);
        background-color: #f4f6ed;
      }
    }

    .content-container {
      flex: 1;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 0.75rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
